/* FONTS */

@font-face {
    font-family: awesome;
    src: url(../fonts/fa-solid-900.ttf);
}






/* LAYOUT */

.main-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}






/* MAIN */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-bottom: 125px;  
}

a {
    display: block;
    text-decoration: none;
}

button {
    border: none;
}

input {
    font-size: 1.7em;
}

select {
    font-size: 1.7em;
}
/* COMPONENTS */

/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: orange;
}


.logo-container img{
    height: 40px;   
}

.header a{
    height: 50px;
    padding: 0 20px;
}

/* Search-bar */

.search-bar {
    position: fixed;
    top: 50px;
    width: 100%;    
    background-color: peachpuff;
    /* padding: 0 20px; */
    /* height: 50px; */
}

.tags-container .tag {
    height: 50px;
    padding: 0 20px;
}


/* Galery */

.images-container {
    margin-top: 100px;
}

.galery-img {
    height: 200px;
    padding: 10px;  /*  */
}

/* Meme-editor */

.meme-editor {
    margin-top: 60px;
    background-color: lightyellow;
}

.canvas-container {
    /* height: 80vh; */
    width: 50%;
    max-width: 70vh;
}

#my-canvas {
    /* outline: 2px solid green; */
}

/* CONTROL BOX */




.control-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
    gap: 30px 15px;
    padding: 10px;
    width: 40%;
    max-height: 70vh;

    margin: 0 auto;
} 

.control-box * {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.control-box div {
    width: 100%;
    height: 100%;
}

.control-box button{
    /* height: 2.5em;
    width: 2.5em; */
    /* margin: 0 10px; */
    font-size: 1.7em;
    background-color: palegreen;
    border-radius: 5px;
    height: 1.5em;
}

.control-box > *:hover:not(.icons-container){
    box-shadow: 0px 0px 3px 3px rgba(235, 92, 9, 0.7);
}
    

.control-box * {

    /* margin-bottom: 10px; */
}


/* .control-box-container {
    background-color: blanchedalmond;
    flex-grow: 1;
}

.control-box {
    background-color:lightskyblue;
    width: 60%;
}

.control-box button{
    height: 2.5em;
    width: 2.5em;
    margin: 0 10px;
    background-color: palegreen;
}

.control-box * {
    margin-bottom: 10px;
} */

/* LINE-BTNS */



.control-box .input-text {
    /* align-self: center; */
    grid-column: 1 / 6;

}

.control-box .new-line {
    background: url(../images/icons/add.png) center no-repeat palegreen;
    background-size: contain;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


.control-box .remove {
    background: url(../images/icons/trash.png) center no-repeat crimson;
    background-size: contain;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.control-box .size-up {
    background: url(../images/icons/increase\ font\ -\ icon.png) center no-repeat palegreen;
    background-size: contain;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.control-box .size-down {
    background: url(../images/icons/decrease\ font\ -\ icon.png) center no-repeat palegreen;
    background-size: contain;
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}

.control-box .refresh {
    background-color: yellow;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}


/* ALIGN BTNS */

.control-box .line-left {
    background: url(../images/icons/align-to-left.png) center no-repeat palegreen;
    background-size: contain;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.control-box .line-center {
    background: url(../images/icons/center-text-alignment.png) center no-repeat palegreen;
    background-size: contain;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.control-box .line-right {
    background: url(../images/icons/align-to-right.png) center no-repeat palegreen;
    background-size: contain;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

/* FONT BTNS */

.font-btns {

}

.font-select {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

.control-box .change-color {
    background: url(../images/icons/paint-board-and-brush.png) center no-repeat;
    background-size: contain;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    
}

.control-box .change-color input {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.control-box .change-font-color {
    background: url(../images/icons/text\ stroke.png) center no-repeat;
    background-size: contain;
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    
}

.control-box .change-font-color input {
    width: 100%;
    height: 100%;
    opacity: 0;
}


/* ICONS_CONTAINER */

.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-column: 1 / 6;
    grid-row: 5 / 6;
}

.icons-container button {
    width: 1.35em;
}

.icons-container div {
    /* margin: .3em; */
    padding-right: .6em;
    cursor: pointer;
}

.icons-to-render {
    display: flex;
    font-family: awesome;
}

.icons-container i {
    color:yellow;
    font-size: 3em;
}

.icons-container div:hover:not(.icons-to-render), .icons-container button:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(235, 92, 9, 0.7);
}



/* SHARE_DROPDOWN */

.share {
    position: relative;
    grid-column: -3 / -1;
    grid-row: -2 / -1;
    width: 100%;
}

.share button{
    width: 100%;
    height: 100%;
}

.share-drop {
    height: auto;

    position: absolute;
    bottom: 4em;
    max-height: 0;
    opacity: 0;
    color: black;
    transform: scaleX(0);
    border-radius: 10px;
    transition: max-height .6s, bottom 1s, max-width .6s ,opacity .6s .3s, transform .6s;
    background-color: orange;

}
.share-drop a {
    text-align: center;
    font-size: 1.5em;
    height: 3em;
    color: white;

}

.share-drop > *:not(:last-child) {
    border-bottom: 1px solid white;
}


.share.open .share-drop {
    max-height: 100vh;
    /* bottom: 5em; */
    display: block;
    opacity: 1;
    transform: scaleX(1);

}



/* FOOTER */

.footer {
    background-color: orange;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
}




/* HELPERS */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}


.align-center {
    align-items: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}

