/* FONTS */

@font-face {
    font-family: awesome;
    src: url(../fonts/fa-solid-900.ttf);
}

/* LAYOUT */

.main-container {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 10px;
}

/* MAIN */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    user-select: none; 
    background-color: lightgray
}

a {
    display: block;
    text-decoration: none;
}

button {
    border: none;
}

input, select {
    font-size: 1.7em;
    outline: none;
    border: none;
}

select {
    font-size: 1.7em;
}

/* COMPONENTS */

/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: orange;
}

.logo-container img{
    height: 40px;   
}

.header a{
    height: 50px;
    padding: 0 20px;
    color: white;
    font-size: 1.5em;
    font-weight: 800;
}

.menu-btn {
    display: block;
    border-radius: .2em;
    height: 30px;
    margin: 10px 0 10px;
}

.main-menu {
    background-color: orange;
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    height: 100vh;
    width: 140px;
    transform: translateX(100%);
    box-shadow: none;
    transition: transform .8s, box-shadow .8s;
}

body.menu-open .main-menu {
    transform: translateX(0);
    box-shadow: -4px 0px 15px 0px #dcdcdc;
}

.main-screen {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0 0 0 / 30%);
    cursor: pointer;
    transition: opacity .8s;
    z-index: 0;
}

body.menu-open .main-screen {
    opacity: 1;
    visibility: visible;
}

/* Search-bar */

.search-bar {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 100%;    
    background-color: white;
}

.search-bar-container {
    flex-direction: column;
}

.search-bar .search-form, .search-form * {
    max-width: 85%;
    background-color: white;
    border-bottom: 1px solid black;
}
.search-form button {
    border-bottom: none;

}
.search-bar .search-form input {
    border: none;
    outline: none;
}

.search-bar .search-form button {
    background-color: transparent;
    font-size: inherit;
    outline: none;
}

.tags-container {
    flex-wrap: wrap;
    max-height: 50px;
    overflow: hidden;
}

.tags-container.more {
    max-height: 100vh;
}

.tags-container .tag {
    height: 50px;
    padding: 0 20px;
}

.more-tags {
    cursor: pointer;
}

/* Galery */

.images-container, .saved-images {
    display: grid;
    grid-template-columns: repeat(3, 26vw);
    grid-auto-rows: 26vw;
    grid-auto-flow: dense;
    gap: 10px 10px;
}

.images-container img.box, .saved-images img.box {
    grid-column: auto / span 3;
    grid-row: auto / span 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-container img.landscape , .saved-images img.landscape {
    grid-column: auto / span 3;
    grid-row: auto / span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-container img.portrait , .saved-images img.portrait {
    grid-column: auto / span 2;
    grid-row: auto / span 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag {
    font-weight: 900;
}

.tag-size-1 {
    font-size: .5em;
}

.tag-size-2 {
    font-size: .7em;
}

.tag-size-3 {
    font-size: .9em;
}

.tag-size-4 {
    font-size: 1.1em;
}

.tag-size-5 {
    font-size: 1.3em;
}

.tag-size-6 {
    font-size: 1.5em;
}

.tag-size-7 {
    font-size: 1.7em;
}

.tag-size-8 {
    font-size: 1.9em;
}

.tag-size-9 {
    font-size: 2.1em;
}

.tag-size-10 {
    font-size: 2.3em;
}

/* Meme-editor */

.meme-editor {
    margin-top: 60px;
    flex-direction: column;
}

.canvas-container {
    width: 100%;
}

/* CONTROL BOX */

.control-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
    gap: 30px 15px;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
} 

.control-box * {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.control-box div {
    width: 100%;
    height: 100%;
}

.control-box button{
    font-size: 1.7em;
    background-color: palegreen;
    border-radius: 5px;
    height: 1.5em;
}

.control-box > *:hover:not(.icons-container){
    box-shadow: 0px 0px 3px 3px rgba(235, 92, 9, 0.7);
}

/* LINE-BTNS */

.control-box .input-text {
    grid-column: 1 / 6;
}

.control-box .new-line {
    background: url(../images/icons/add.png) center no-repeat palegreen;
    background-size: 50%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.control-box .remove {
    background: url(../images/icons/trash.png) center no-repeat crimson;
    background-size: 50%;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.control-box .size-up {
    background: url(../images/icons/increase\ font\ -\ icon.png) center no-repeat palegreen;
    background-size: contain;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.control-box .size-down {
    background: url(../images/icons/decrease\ font\ -\ icon.png) center no-repeat palegreen;
    background-size: contain;
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}

.control-box .refresh {
    background-color: yellow;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

/* ALIGN BTNS */

.control-box .line-left {
    background: url(../images/icons/align-to-left.png) center no-repeat palegreen;
    background-size: contain;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.control-box .line-center {
    background: url(../images/icons/center-text-alignment.png) center no-repeat palegreen;
    background-size: contain;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.control-box .line-right {
    background: url(../images/icons/align-to-right.png) center no-repeat palegreen;
    background-size: contain;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

/* FONT BTNS */

.font-select {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

.control-box .change-color {
    background: url(../images/icons/paint-board-and-brush.png) center no-repeat;
    background-size: contain;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.control-box .change-color input {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.control-box .change-font-color {
    background: url(../images/icons/text\ stroke.png) center no-repeat;
    background-size: contain;
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}

.control-box .change-font-color input {
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* ICONS_CONTAINER */

.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 6;
    grid-row: 5 / 6;
}

.icons-container button {
    width: 1.35em;
}

.icons-container div {
    padding-left: .2em;
}

.icons-to-render {
    display: flex;
    font-family: awesome;
}

.icons-container i {
    color:yellow;
    font-size: 1.9em;
    font-style: normal;
}

.icons-container div:hover:not(.icons-to-render), .icons-container button:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(235, 92, 9, 0.7);
}

/* SHARE_DROPDOWN */

.share {
    position: relative;
    grid-column: -3 / -1;
    grid-row: -2 / -1;
    width: 100%;
}

.share button{
    width: 100%;
    height: 100%;
}

.share-drop {
    height: auto;
    position: absolute;
    bottom: 4em;
    max-height: 0;
    opacity: 0;
    color: black;
    transform: scaleX(0);
    border-radius: 10px;
    transition: max-height .6s, bottom 1s, max-width .6s ,opacity 1s .3s, transform .6s;
    background-color: orange;
}

.share-drop a {
    text-align: center;
    font-size: 1.5em;
    height: 3em;
    color: white;
}

.share-drop > *:not(:last-child) {
    border-bottom: 1px solid white;
}

.share.open .share-drop {
    max-height: 100vh;
    display: block;
    opacity: 1;
    transform: scaleX(1);

}

.share-drop li:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgba(235, 92, 9, 0.7);
}

/* SAVED-IMAGES */

.saved-images {
    margin-top: 60px;
    min-height: 70vh;
}

/* FOOTER */

.footer {
    background-color: orange;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    margin-top: 10px;
}

/* HELPERS */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}


/* MEDIA-QUERYS */
/* EXTRA-SMALL */

@media (min-width: 550px) {
    .main-container {
        max-width: 540px;
    }

    .images-container, .saved-images {
        grid-template-columns: repeat(20, 16.5px);
        grid-auto-rows: 16.5px;
    }

    .images-container img.box, .saved-images img.box {
        grid-column: auto / span 10;
        grid-row: auto / span 10;
    }
    
    .images-container img.landscape , .saved-images img.landscape {
        grid-column: auto / span 10;
        grid-row: auto / span 6;
    }
    
    .images-container img.portrait , .saved-images img.portrait {
        grid-column: auto / span 6;
        grid-row: auto / span 10;
    }

    .menu-btn {
        display: none;
    }

    .main-menu {
        position: static;
        flex-direction: row;
        height: auto;
        width: auto;
        transform: translateX(0%);
    }
}


/* SMALL */
@media (min-width: 710px) {
    .main-container {
        max-width: 700px;
    }

    .images-container, .saved-images {
        grid-template-columns: repeat(21,22.5px);
        grid-auto-rows: 22.5px;
    }

    .images-container img.box, .saved-images img.box {
        grid-column: auto / span 7;
        grid-row: auto / span 7;
    }
    
    .images-container img.landscape , .saved-images img.landscape {
        grid-column: auto / span 7;
        grid-row: auto / span 4;
    }
    
    .images-container img.portrait , .saved-images img.portrait {
        grid-column: auto / span 4;
        grid-row: auto / span 7;
    }

    .meme-editor {
        flex-direction: row;
    }

    .canvas-container {
        width: 50%;
        max-width: 70vh;
    }

    .control-box {
        width: 40%;
        max-height: 70vh;
    } 
}

/* MEDIUM */

@media (min-width: 910px) {
    .main-container {
        max-width: 900px;
    }

    .images-container, .saved-images {
        grid-template-columns: repeat(21,32px);
        grid-auto-rows: 32px;
    }

    .images-container img.box, .saved-images img.box {
        grid-column: auto / span 7;
        grid-row: auto / span 7;
    }
    
    .images-container img.landscape , .saved-images img.landscape {
        grid-column: auto / span 7;
        grid-row: auto / span 4;
    }
    
    .images-container img.portrait , .saved-images img.portrait {
        grid-column: auto / span 4;
        grid-row: auto / span 7;
    }

    .search-bar div {
        flex-direction: row;
    }

    .icons-container i {
        font-size: 2.5em;
    }
}

/* LARGE */

@media (min-width: 1100px) {
    .main-container {
        max-width: 1080px;
    }

    .images-container, .saved-images {
        grid-template-columns: repeat(21,40px);
        grid-auto-rows: 40px;
    }
}